<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Pixhint</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/gameavailable"]'><i class="fa fa-gamepad"></i><span i18n> Games</span></a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow" *ngIf="isAuthenticated">

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isDisplayed(['Admin','GameMaster'])">
            <a class="nav-link text-dark" [routerLink]='["/command"]'><i class="fas fa-play"></i><span i18n> Commands</span></a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isDisplayed(['Admin','GameMaster'])">
            <a class="nav-link text-dark" [routerLink]='["/game"]'><i class="fa fa-gamepad"></i><span i18n> Game</span></a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isDisplayed(['Admin','GameMaster','Validator'])">
            <a class="nav-link text-dark" [routerLink]='["/gamevalidation"]'><i class="fas fa-clipboard-check"></i><span i18n> Validation</span></a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isDisplayed(['Admin'])">
            <a class="nav-link text-dark" [routerLink]='["/users"]'><i class="fa fa-user" i18n></i><span i18n> Users</span></a>
          </li>

        </ul>
        <ul class="nav navbar-nav">
          <login-button></login-button>
        </ul>

      </div>
    </div>
  </nav>
</header>

