<agm-map #map [latitude]="CenterLat" [longitude]="CenterLng" [maxZoom]="17"
         (mapClick)="mapClick($event, createNodeTemplate)">
  <agm-marker *ngFor="let node of nodes"
              [latitude]="node.latitude"
              [longitude]="node.longitude"
              [title]="node.name"
              [iconUrl]="getIconForNodeType(node.nodeType)"
              (markerClick)="markerClicked(node)"
  >
    <agm-polyline *ngFor="let node of nodes"
                  [editable]="false"
                  [strokeColor]="red"
                  [strokeWeight]="2">
      <div *ngFor="let children of node.children">
        <agm-polyline-point [latitude]="node.latitude" [longitude]="node.longitude"></agm-polyline-point>
        <agm-polyline-point [latitude]="children.latitude" [longitude]="children.longitude"></agm-polyline-point>
      </div>

    </agm-polyline>  
  </agm-marker>
</agm-map>
