<div class="container">
  <div *ngIf="!_editMode" class="row">
    <span class="col-8">{{_points}}</span>
    <i class="fas fa-xs fa-edit col-4" (click)="editToggle()"></i>
  </div>
  <div *ngIf="_editMode" class="row">
    <div class="col-10">
      <input class="form-control" type="number" [(ngModel)]="_points" style="padding: 0 .5em; width: 4em;"/>
    </div>
    <div class="col-2">
      <div class="btn-group-sm btn-group" role="group">
        <button class="btn btn-success btn-sm">
          <i class="fas fa-check btn-success" (click)="validate()"></i>
        </button>
        <button class="btn btn-danger btn-sm">
          <i class="fas fa-times btn-danger" (click)="cancel()"></i>
        </button>
      </div>
    </div>
  </div>
</div>
