<div #createPlayerTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Création d'un joueur</h4>
    <button type="button" class="close pull-right" aria-label="Fermer" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="container">
    <form [formGroup]="playerGroup" (ngSubmit)="createPlayer()">
      <div class="modal-body">
        <div class="form-group row">
          <label for="playerName">Nom du joueur</label>
          <input class="form-control" required formControlName="name" id="playerName" name="playerName"
                 placeholder="Nom du joueur" minlength="4" />
        </div>
        <div class="form-group row">
          <label for="playerTG">TG du joueur</label>
          <input id="playerTG" name="playerTG" formControlName="chatLogin" required minlength="5" maxlength="32"
                 class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success pull-right" type="submit" aria-label="Close" [disabled]="!playerGroup.valid"
                (click)="bsModalRef.hide()">
          Créer le joueur
        </button>
      </div>
    </form>
  </div>
</div>
