<div #createPlayerTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left" i18n>Player create</h4>
    <button type="button" class="close pull-right" i18n-aria-label aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="container">
    <form [formGroup]="playerGroup" (ngSubmit)="createPlayer()">
      <div class="modal-body">
        <div class="form-group row">
          <label for="playerName" i18n>Player's name</label>
          <input class="form-control" required formControlName="name" id="playerName" name="playerName"
                 i18n-placeholder placeholder="Player's name" minlength="4" />
        </div>
        <div class="form-group row">
          <label for="playerTG" i18n>Player telegram</label>
          <input id="playerTG" name="playerTG" formControlName="chatLogin" required minlength="5" maxlength="32"
                 class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success pull-right" type="submit" aria-label="Close" [disabled]="!playerGroup.valid"
                (click)="bsModalRef.hide()" i18n>
          Create player
        </button>
      </div>
    </form>
  </div>
</div>
