@media all {
  @page {
    size: 210mm 297mm;
  }
  .qrcode {
    z-index: 0;
    /*width:40mm;
  height:40mm;*/
  }

  .logoBackground {
    background-color: white;
    border-radius: 10px;
    width: 20mm;
    height: 20mm;
    z-index: 1;
  }

  .logo {
    width: 15mm;
    height: 15mm;
    z-index: 2;
  }

  .passcodeCell {
    width: 100mm;
    height: 70mm;
    border-style: dashed;
    align-content: center;
    position: relative;
  }

  .passcodeCell > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .passcodeGrid {
    display: grid;
    grid-template-columns: 100mm 100mm;
    grid-template-rows: 70mm 70mm 70mm 70mm;
    grid-auto-rows:70mm;
    grid-column-gap: 30mm;
    grid-row-gap: 40mm;
    align-items: center;
  }
}
