<div class="col-sm-10">
  <h2>Detail d'une partie</h2>
  <div class="form-inline">
    <div class="form-control">
      <label>Nom de la partie</label>
      <span>{{game.name}}</span>
    </div>
    <div class="form-control">
      <label>Date de début</label>
      <span>{{game.startDate | date:medium}}</span>
    </div>
  </div>
  <div class="col-sm-5"> 
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let team of game.teams"><span class="fa fa-users"></span> <a routerLink="/team/{{team.id}}">{{team.name}}</a></li>
    </ul>

    <h2>Création d'une équipe</h2>
    <form #form="ngForm" (submit)="createTeam(game.id, form)">
      <div class="form-inline">
        <label>Nom de la team</label>
        <input class="form-control" ngModel name="name" required placeholder="Nom de l'équipe" type="text" id="name"/>
      </div>
      <button type="submit" class="btn btn-default">Créer l'équipe</button>
    </form>
  </div>
</div>
