<div class="row">
  <div class="col-sm-10">
    <h2>Detail d'une partie</h2>
    <div class="form-inline">
      <div class="form-control">
        <label>Nom de la partie :</label>
        <span>{{game.name}}</span>
      </div>
      <div class="form-control">
        <label>Date de début :</label>
        <span>{{game.startDate | date:'medium':'':'fr'}}</span>
      </div>
    </div>
    <div>
      <div heading="Equipes">
        <team-list [teams]="game.teams"></team-list>
        <team-create [gameId]="game.id" (teamCreated)="teamsUpdated()"></team-create>
      </div>
      <br />
      <div class="container" heading="Noeuds">
        <div class="row">
          <div class="col-sm-9" style="width: 850px">
            <map-detail2 #mapComponent
                        [nodes]="game.nodes"
                        [gameId]="game.id"
                        [nodesRelation]="nodeRelations"
                         [newNodesRelation]="newRelations"
                        (mapClicked)="mapClicked($event)"
                         (nodeClicked)="nodeClicked($event)"
                         (nodeRightClicked)="nodeRightClicked($event)"
                         (newRelation)="newRelation($event)"
                         (relationRightClicked)="relationRightClicked($event)"
                        (zoomChange)="mapZoomChange($event)">
            </map-detail2>
          </div>
          <div class="col-sm-3 ml-1">
            <h4>Actions</h4>
            <div class="btn-group-vertical" role="group">
              <div class="btn-group">
                <button class="btn btn-default" (click)="uploadImages(uploadImagesTemplate)">Ajouter les photos mystères</button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default" (click)="centerMap(game.id)">Centrer la carte sur les noeuds</button>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" (click)="editNodeRelations()"><span class="fa fa-link"> Editer les relations</span></button>
              </div>
              <div class="btn-group">
                <button class="btn btn-primary" (click)="editNodeAnswers()"><span class="fa fa-question"> Editer les réponses aux questions</span></button>
              </div>
              <div class="btn-group">
                <button class="btn btn-danger" (click)="saveChanges(game.id)"><span class="fa fa-floppy-o"> Enregistrer les changements</span></button>
              </div>
            </div>
            <h4>Filtres</h4>
            <div class="btn-group-vertical" role="group">
              <div class="btn-group">
                <button class="btn btn-default" btnCheckbox>Filtrer les noeuds images</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<p-contextMenu #markerContextMenu id="markerContextMenu" [model]="nodeMenuItems"></p-contextMenu>
<p-contextMenu #relationContextMenu id="relationContextMenu" [model]="relationMenuItems"></p-contextMenu>
<ng-template #uploadImagesTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Téléchargement de noeuds images</h4>
    <button type="button" class="close pull-right" aria-label="Fermer" (click)="uploadModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="modal-body">
    <br />
    <form>
      <input type="file" #fileInput placeholder="Upload file..." multiple (change)="uploadFiles(fileInput.files)" />
    </form>
  </div>
</ng-template>


