<div #createAdminTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left" i18n>Create Administrator</h4>
    <button type="button" class="close pull-right" i18n-aria-label aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="container">
    <form [formGroup]="adminGroup" (ngSubmit)="createAdmin()">
      <div class="modal-body">
        <div class="form-group">
          <label for="name" i18n>Username</label>
          <input type="text" class="form-control" formControlName="name" name="name" required i18n-placeholder placeholder="User name" id="name" />
        </div>
        <div class="form-group">
          <label for="email" i18n>Email</label>
          <input type="email" class="form-control" formControlName="email" name="email" required i18n-placeholder placeholder="User email" id="email" email/>
        </div>
        <div class="form-group">
          <label for="role" i18n>Role</label>
          <select class="form-control" id="role" formControlName="role" name="role">
            <option value="0" i18n>Administrateur</option>
            <option value="1" i18n>Valodator</option>
            <option value="2" i18n>GameMaster</option>
            <option value="3" i18n>Reader</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success pull-right" type="submit" aria-label="Close" [disabled]="!adminGroup.valid"
                (click)="bsModalRef.hide()" i18n>
          Create user
        </button>
      </div>

    </form>
  </div>
</div>
