<div *ngIf="game">
  <div style="float: left; margin-right: 20px;">
    <img *ngIf="game.pictureId" class="img-thumbnail" src="api/Image/Thumbnail?pictureId={{game.pictureId}}&width=100"/>
    <img *ngIf="!game.pictureId" class="img-thumbnail" src="assets/ImageHunt.png" width="100px"/>
  </div>
  <h2>{{game.name}}</h2>
  <div class="row">
    <span i18n>Existing teams:</span>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th i18n>Team name</th>
          <th i18n>Player count</th>
          <th>
            <button type="button" class="btn btn-primary" (click)="createTeam()">
              <i class="fa fa-plus-square"></i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of game.teams">
          <td></td>
          <td>
            <a routerLink="/team/{{game.id}}/{{team.id}}">{{team.name}}</a>
          </td>
          <td>{{team.players.length}}</td>
          <td>
            <button type="button" class="btn btn-primary " (click)="joinTeam(teamid)">
              <i class="fas fa-user-plus"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
