<div class="row">
  <h2 i18n>Passcode of game {{game.name}}</h2>
</div>
<div class="row">
  <div class="col-2">
    <button class="btn btn-default" [routerLink]="['/passcode/print/', game.id]">
      <i class="fa fa-print" i18n>
        Print
      </i>
    </button>
  </div>
  <div class="col-10">
    <table class="table">
      <thead>
      <tr>
        <th i18n>Password</th>
        <th i18n>Number of redeem</th>
        <th i18n>Point per usage</th>
        <th>
          <button class="btn btn-primary" (click)="createPassode()">
            <i class="fa fa-plus-square"></i>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let passcode of passcodes">
        <td>{{passcode.pass}}</td>
        <td>{{passcode.nbRedeem}}</td>
        <td>{{passcode.points}}</td>
        <td>
          <button class="btn btn-danger" (click)="deletePasscode(passcode)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
