<div>

  <h2>Team existantes</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nom de la team</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td><span class="fa fa-users"> <a routerLink="/team/{{team.id}}">{{team.name}}</a></span></td>
        <td>
          <button class="btn btn-danger" (click)="deleteTeam(team.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p-confirmDialog id="deleteTeamConfirm"
                 header="Confirmation"
                 appendTo="body"
                 icon="fa fa-question-circle" width="425"></p-confirmDialog>


