<div>

  <h2>Team existantes</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Nom de la team</th>
        <th>Init group chat</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td><a routerLink="/team/{{team.id}}"><span class="fa fa-users fa-2x"> {{team.name}}</span></a></td>
        <td>
          <ul>
            <li>/init gameid={{gameId}} teamid={{team.id}}</li>
            <li><qr-code [value]="'/init gameid=' + gameId + ' teamid=' + team.id" [size]="50"></qr-code></li>
          </ul>
          <br/>

        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteTeam(team.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p-confirmDialog id="deleteTeamConfirm"
                 header="Confirmation"
                 appendTo="body"
                 icon="fa fa-question-circle" width="425"></p-confirmDialog>


