<h2>Détails de la team</h2>
<div class="col-sm-10">
  Nom de la team : {{team.name}}
  <table class="table" *ngIf="team.players != null">
    <thead>
    <tr>
      <th>Nom du joueur</th>
      <th>Pseudo de chat</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of team.players">
      <td>{{player.name}}</td>
      <td>{{player.chatId}}</td>
      <td><button class="btn btn-danger" (click)="deletePlayer(team.id, player)"><span class="fa fa-trash"></span></button></td>

    </tr>

    </tbody>
  </table>
  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

  <form #form="ngForm" (submit)="addPlayer(team.id, form)">
    <div class="form-inline">
      <div class="input-group">
      <label>Pseudo du joueur</label>
        <input class="form-control" ngModel name="name" required placeholder="Nom du joueur" type="text" id="name"/>
      </div>
      
      <div class="input-group">
        <label>Pseudo de chat</label>
        <input  class="form-control" ngModel name="chatId" required placeholder="Pseudo de chat du joueur" type="text" id="chatId"/>
      </div>
    </div>
    <button  type="submit" class="btn btn-default">Ajouter un joueur</button>
  </form>
</div>
