<div #nodeRelationsTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assigner les enfants du noeud</h4>
    <button type="button" class="close pull-right" aria-label="Fermer" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-3">
          <span>Noeud parent</span>
          <node-list [nodes]="nodes"></node-list>
        </div>
        <div class="col-sm-3">
          <span>Noeuds enfants</span>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
              <td>
                <button class="btn btn-success">Ajouter</button>
                <button class="btn btn-danger">Enlever</button>
              </td>

            </tr>

          </table>
        </div>
        <div class="col-sm-3">
          <span>Noeuds possibles</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success pull-right" type="submit" aria-label="Close"
              (click)="bsModalRef.hide()">
        Assigner les enfants
      </button>
    </div>
</div>
