<p-table class="table"
         [value]="gameActions"
         [paginator]="true"
         [rows]="10"
         [lazy]="true"
         (onLazyLoad)="loadData($event)"
         [totalRecords]="totalRecords">
  <ng-template pTemplate="header">
    <tr>
      <th>Heure</th>
      <th>Delta</th>
      <th>Equipe</th>
      <th>Action</th>
      <th style="width: 180px;">Noeud probable</th>
      <th style="width: 180px;">Photo associée</th>
      <th>Revu</th>
      <th>Validé</th>
      <th>Points</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-action let-rowData>
    <tr>
      <td>{{action.dateOccured|date:'HH:mm'}}</td>
      <td>{{isNaN(action.delta)?'-':action.delta | number:'1.0-2':'fr'}} m</td>
      <td>{{action.team.name}}</td>
      <td>{{action.action|gameActionTranslationPipe}}</td>
      <td>
        <!--<select >
          <option *ngFor="let node of action.probableNodes">{{node.name}}</option>
        </select>-->
        <p-dropdown [options]="action.probableNodes" optionLabel="name" (onChange)="probableNodeChanged($event, action)">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align: middle">{{item.label}}</span>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative; height: 25px;">
                <img *ngIf="item.value.image !== undefined" src="api/Image/Thumbnail?pictureId={{item.value.image.id}}&width=40&height=30"/>
                <span style="font-size: 14px; float: right; margin-top: 4px">{{item.label}} {{item.value.points}}</span>
                

            </div>
  </ng-template>
        </p-dropdown>
  
      </td>
      <td>
        <div class="thumbnail" *ngIf="action.picture !== null">
          <p-lightbox type="content">
            <a class="group" href="#">
              <img src="api/Image/Thumbnail?pictureId={{action.picture.id}}&width=150&height=100" />
            </a>

            <img src="api/Image/{{action.picture.id}}" width="500" />
          </p-lightbox>
        </div>
      </td>
      <td>
        <span [class]="reviewedSpanClass(action)"></span>
      </td>
      <td>
        <button [class]="validatedBtnClass(action)" (click)="validateGameAction(action)">
          <span [class]="validatedSpanClass(action)"></span>
        </button>
      </td>
      <td>
        {{action.pointsEarned}}
      </td>
      <td><button class="btn btn-success" [routerLink]="['/action/detail/', action.id]">
        <span class="fa fa-info-circle"></span>
      </button></td>
    </tr>
  </ng-template>
</p-table>
