<div class="row">
  <div class="col-10">
    <h2 i18n >Validate game action</h2>
  </div>
  <div class="col-2">
    <button type="button" pButton icon="fas fa-sync" (click)="refresh(actionTable)"></button>

  </div>

</div>
<p-table #actionTable
  class="table"
         [value]="gameActions"
         [paginator]="true"
         [rows]="10"
         [loading]="loading"
         [lazy]="true"
         (onLazyLoad)="loadData($event)"
         [totalRecords]="totalRecords">
  <ng-template pTemplate="header">
    <tr>
      <th i18n style="width: 4em">Time</th>
      <th i18n style="white-space: nowrap;">Delta</th>
      <th i18n>Team</th>
      <th i18n>Action</th>
      <th i18n style="width: 180px;">Probable node</th>
      <th i18n style="width: 180px;">Submitted picture</th>
      <th i18n style="width: 4em;">Rev.</th>
      <th i18n style="width: 4em;">Val.</th>
      <th i18n style="width: 4em;">Rej.</th>
      <th i18n>Points</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-action let-rowData >
    <tr>
      <td>{{action.dateOccured|date:'HH:mm'}}</td>
      <td style="white-space: nowrap;">{{isNaN(action.delta)?'-':action.delta | number:'1.0-2':'fr'}} m</td>
      <td>{{action.team.name}}</td>
      <td>{{action.action|gameActionTranslationPipe}}</td>
      <td>
        <p-dropdown class="probableNode"
                    [options]="action.probableNodes" optionLabel="name"
                    (onChange)="probableNodeChanged($event, action)"
                    autoWidth="false">
          <ng-template let-item pTemplate="selectedItem" style="width: 100%">
            <img *ngIf="action.node && action.node.image" src="api/Image/Thumbnail?pictureId={{action.node.image.id}}&width=40&height=40" />
            <span style="vertical-align: middle;float: right"> {{item.label}}</span>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <!--<div class="ui-helper-clearfix" style="position: relative; height: 50px;">-->
            <div class="row">
              <img class="col-4" *ngIf="item.value && item.value.image" src="api/Image/Thumbnail?pictureId={{item.value.image.id}}&width=40&height=40" />
              <span class="col-4" style="font-size: 14px;">{{item.label}}</span>
              <span class="col-4" style="vertical-align: middle">{{item.value.points}}</span>
            </div>

          </ng-template>
        </p-dropdown>

      </td>
      <td>
        <div class="thumbnail" *ngIf="action.picture !== null">
          <p-lightbox type="content">
            <a class="group" href="#">
              <img class="thumbnail" src="api/Image/Thumbnail?pictureId={{action.picture.id}}&width=150&height=100" />
            </a>
            <div>
              <img src="api/Image/{{action.picture.id}}" width="500" />
            </div>
          </p-lightbox>
        </div>
      </td>
      <td>
        <button class="btn btn-dark">
          <span [class]="reviewedSpanClass(action)"></span>
        </button>
      </td>
      <td>
        <button [class]="validatedBtnClass(action)" (click)="validateGameAction(action)" [disabled]="action.isValidated">
          <span [class]="validatedSpanClass(action)"></span>
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="rejectGameAction(action)"><span class="fa fa-times"></span></button>
      </td>
      <td>
        <points [(points)]="action.pointsEarned" (pointsChange)="setPoints(action)"></points>
      </td>
    </tr>
  </ng-template>
</p-table>
