<div #questionNodeTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left" i18n>Edit of choice node</h4>
    <button type="button" class="close pull-right" i18n-aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-inline">
      <div class="input-group">
        <label for="Noeud" i18n>Node to edit</label>
        <select class="form-control" [(ngModel)]="selectedNode" (change)="nodeSelected($event)">
          <option *ngFor="let node of questionNodes"  [ngValue]="node">{{node.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-inline">
      <div class="input-group" *ngIf="selectedNode">
        <label i18n>Question</label>
        <textarea class="form-control" cols="40" rows="3" readonly [value]="selectedNode.question"></textarea>
      </div>
    </div>
    <div class="row" *ngIf="selectedNode!=null">
      <div class="col-sm-4">
        <div class="input-group">
          <label i18n>Answers</label>
          <select class="form-control" [(ngModel)]="selectedAnswer" size="5"
                  (change)="responseSelected()">
            <option *ngFor="let answer of selectedNode.answers" [ngValue]="answer">{{answer.response}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <span></span>
          <button class="btn btn-success" [disabled]="!linkBtnEnabled" (click)="associateAnswerToNode()" i18n>Link</button>
          <button class="btn btn-danger" [disabled]="!unlinkBtnEnabled" (click)="dissociateAnswerToNode()" i18n>Unlink</button>
        </div>
      </div>
      <div class="col-sm-4">
        <label>Noeuds</label>
        <select class="form-control" size="5" [(ngModel)]="selectedTargetNode"
                (change)="responseSelected()">
          <option *ngFor="let node of availableNodes" [ngValue]="node">{{node.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="reset" aria-label="Cancel" (click)="bsModalRef.hide()" i18n>
      Cancel
    </button>
    <button class="btn btn-success pull-right" type="submit" i18n-aria-label="Close"
            (click)="saveRelations()" i18n> Save
    </button>
  </div>
</div>
