<div #questionNodeTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left" i18n>Edit of choice node</h4>
    <button type="button" class="close pull-right" i18n-aria-label aria-label="Close" (click)="bsModalRef.hide()">
      <i aria-hidden="true" class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div >
      <div class="form-group">
        <label for="selectedNode" i18n>Node to edit</label>
        <select class="form-control" [(ngModel)]="selectedNode" name="selectedNode" (change)="nodeSelected($event)">
          <option *ngFor="let node of questionNodes"  [ngValue]="node">{{node.name}}</option>
        </select>
      </div>
    </div>
    <div >
      <div class="form-group" *ngIf="selectedNode">
        <label for="question" i18n>Question</label>
        <textarea class="form-control" name="question" cols="40" rows="3" readonly
                  [value]="selectedNode.question" i18n-placeholder placeholder="Question"></textarea>
      </div>
    </div>
    <div class="row" *ngIf="selectedNode!=null">
      <div class="col-4">
        <div class="form-group">
          <label i18n for="selectedAnswer">Answers</label>
          <select class="form-control" [(ngModel)]="selectedAnswer" size="5" name="selectedAnswer"
                  (change)="answerSelected()">
            <option *ngFor="let answer of selectedNode.answers" [ngValue]="answer">{{answer.response}}</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div>
            <button class="btn btn-success" [disabled]="!linkBtnEnabled" (click)="associateAnswerToNode()" i18n>Link</button>
          </div>
        </div>
        <div class="row">
          <div>
            <button class="btn btn-danger" [disabled]="!unlinkBtnEnabled" (click)="dissociateAnswerToNode()" i18n>Unlink</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label for="selectedTargetNode" i18n>Target Nodes</label>
        <select class="form-control" size="5" [(ngModel)]="selectedTargetNode" name="selectedTargetNode"
                (change)="targetNodeSelected()">
          <option *ngFor="let node of availableNodes" [ngValue]="node">{{node.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="reset" i18n-aria-label aria-label="Cancel" (click)="bsModalRef.hide()" i18n>
      Cancel
    </button>
    <button class="btn btn-success pull-right" type="submit" i18n-aria-label aria-label="Close"
            (click)="saveRelations()" i18n> Save
    </button>
  </div>
</div>
