<div #nodeEditComponent>
  <div class="modal-header">
    <h4 class="modal-title pull-left" i18n>{{modeTitle}} Node</h4>
    <button type="button" class="close pull-right" i18n-aria-label aria-label="Close" (click)="bsModalRef.hide()">
      <i aria-hidden="true" class="fa fa-times"></i>
    </button>
  </div>
  <form #form="ngForm" (submit)="saveChanges(form)">
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <p-panel i18n-header header="Specific Nodes data">
            <div class="row">
              <div class="form-group col-12">
                <label for="nodeType" i18n>Node type</label>
                <p-dropdown [options]="nodeTypes" [(ngModel)]="_node.nodeType" name="nodeType" id="nodeType" i18n-placeholder placeholder="Select a node type">
                  <ng-template let-item pTemplate="selectedItem">
                    <span class="{{item.icon}}" style="width:16px; vertical-align: middle;color:{{item.color}}"></span>
                    <span style="vertical-align: middle; position: relative; left: 10px;">{{item.label}}</span>
                  </ng-template>
                  <ng-template let-type pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative; height: 25px;">
                      <i class="{{type.icon}}" style="width: 24px; position: absolute; top: 1px; left: 5px;color:{{type.color}}"></i>
                      <div style="font-size: 14px; float: right; margin-top: 4px">{{type.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>

            </div>
            <div class="row">
              <div class="col-12">
                <tabset>
                  <tab [disabled]="_node.nodeType !== 'FirstNode'" [active]="_node.nodeType === 'FirstNode'">
                    <ng-template tabHeading>
                      <i class="fas fa-flag" style="color: red"></i><span i18n> Start</span>
                    </ng-template>
                    <div>
                      <div class="form-group">
                        <label for="password" i18n>Password</label>
                        <input type="text" class="form-control" id="password" name="password"
                               [(ngModel)]="_node.password" i18n-placeholder placeholder="Password of node" />
                      </div>
                    </div>
                  </tab>
                  <tab [disabled]="_node.nodeType !== 'TimerNode'" [active]="_node.nodeType === 'TimerNode'">
                    <ng-template tabHeading>
                      <i class="far fa-clock" style="color: cadetblue"></i><span i18n> Timer</span>
                    </ng-template>
                    <div>
                      <div class="form-group">
                        <label for="duration" i18n>Wait delay (in second)</label>
                        <input type="number" class="form-control" id="duration" name="duration" [(ngModel)]="_node.delay"
                               i18n-placeholder placeholder="Delay" />
                      </div>
                    </div>
                  </tab>
                  <tab [disabled]="_node.nodeType !== 'BonusNode'" [active]="_node.nodeType === 'BonusNode'">
                    <ng-template tabHeading>
                      <i class="fas fa-gift" style="color: darkmagenta"></i><span i18n> Bonus</span>
                    </ng-template>
                    <div>
                      <div class="form-group">
                        <label for="location" i18n>Hint to find the node</label>
                        <input class="form-control" type="text" id="location" name="location"  [(ngModel)]="_node.hint"
                               i18n-placeholder placeholder="Hint to find the node" />
                        <label for="bonustype" i18n>Bonus type</label>
                        <select class="form-control" id="bonustype" name="bonustype" [(ngModel)]="_node.bonus">
                          <option value="0" i18n>Points x 2</option>
                          <option value="1" i18n>Points x 3</option>
                        </select>
                      </div>
                    </div>
                  </tab>
                  <tab [disabled]="_node.nodeType !== 'ObjectNode'" [active]="_node.nodeType === 'ObjectNode'">
                    <ng-template tabHeading>
                      <i class="fas fa-running" style="color: darkred;"></i><span i18n> Action</span>
                    </ng-template>

                    <div>
                      <div class="form-group">
                        <label for="action" i18n>Action to do by players</label>
                        <textarea class="form-control" cols="40" rows="3" id="action" [(ngModel)]="_node.action" name="action"
                                  i18n-placeholder placeholder="Action to do by players"></textarea>
                      </div>
                    </div>
                  </tab>
                  <tab [disabled]="_node.nodeType !== 'HiddenNode'" [active]="_node.nodeType === 'HiddenNode'">
                    <ng-template tabHeading>
                      <i class="fas fa-mask" style="color: purple"></i><span i18n> Caché</span>
                    </ng-template>

                    <div>
                      <div class="form-group">
                        <label for="hint" i18n>Hint to find node</label>
                        <textarea class="form-control" cols="40" rows="3" id="hint" [(ngModel)]="_node.hint" name="hint"
                                  i18n-placeholder placeholder="Hint to find node"></textarea>
                      </div>

                    </div>
                  </tab>
                  <tab [disabled]="_node.nodeType !== 'PictureNode'" [active]="_node.nodeType === 'PictureNode'">
                    <ng-template tabHeading>
                      <i class="fas fa-camera" style="color: blue"></i><span i18n> Image</span>
                    </ng-template>

                    <div>
                      <div class="form-group" *ngIf="_node.image">
                        <label for="pictureName" i18n>Name of the picture</label>
                        <input class="form-control" id="pictureName" type="text" [(ngModel)]="_node.image.name" name="pictureName"
                               i18n-placeholder placeholder="Name of the picture" />
                      </div>

                    </div>
                  </tab>
                  <tab [disabled]="_node.nodeType !== 'QuestionNode'" [active]="_node.nodeType === 'QuestionNode'">
                    <ng-template tabHeading>
                      <i class="far fa-question-circle" style="color: blue"></i><span i18n> Question</span>
                    </ng-template>

                    <div>
                      <div class="form-group">
                        <label for="question" i18n>Question</label>
                        <textarea class="form-control" cols="40" rows="3" id="question" [(ngModel)]="_node.question" name="question"
                                  i18n-placeholder placeholder="Question to ask to players"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="answer" i18n>Answer</label>
                        <textarea class="form-control" cols="40" rows="1" id="answer" [(ngModel)]="_node.answer" name="answer"
                                  i18n-placeholder placeholder="Expected answer"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="canOverride" i18n>Is the node is overridable?</label>
                        <p-inputSwitch [(ngModel)]="_node.canOverride"></p-inputSwitch>
                      </div>
                    </div>
                    <br />
                  </tab>
                  <tab [disabled]="_node.nodeType !== 'ChoiceNode'" [active]="_node.nodeType === 'ChoiceNode'">
                    <ng-template tabHeading>
                      <i class="fas fa-list-ol" style="color: green"></i><span i18n> Choice</span>
                    </ng-template>

                    <div>
                      <div class="form-group">
                        <label for="choiceQuestion" i18n>Question</label>
                        <textarea class="form-control" cols="40" rows="3" id="choiceQuestion" ngModel
                                  name="choiceQuestion" i18n-placeholder placeholder="Choice label"></textarea>
                      </div>

                    </div>
                    <br />
                    <table class="table">
                      <thead>
                        <tr>
                          <th i18n>#</th>
                          <th i18n>Choice</th>
                          <th i18n>Correct answer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let choice of choices; let i = index">
                          <td>{{i + 1}}</td>
                          <td>
                            <span class="form-control">{{choice}}</span>
                          </td>
                          <td>
                            <p-radioButton name="groupAnswers" value="{{i}}" [(ngModel)]="correctAnswer"></p-radioButton>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br />
                    <form #newChoice="ngForm">
                      <div>
                        <div class="form-group">
                          <label for="choice" i18n>Choice</label>
                          <input type="text" ngModel name="choice" id="choice" class="form-control" />
                          <button type="button" class="btn btn-primary pull-right" (click)="addChoice(newChoice)">
                            <i class="fa fa-plus-square" i18n> Add a choice</i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </tab>
                </tabset>
              </div>
            </div>
          </p-panel>
        </div>
        <div class="col-6">
          <p-panel i18n-header header="Common Nodes data">
            <div class="row">
              <div class="form-group col-12">
                <label for="name">Name</label>
                <input class="form-control" [(ngModel)]="_node.name" id="name" name="name" required minlenght="4" i18n-placeholder placeholder="Node's name" />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                <label for="points">Points</label>
                <input type="number" class="form-control" [(ngModel)]="_node.points" id="points" name="points" i18n-placeholder placeholder="Points to earn" />
              </div>
            </div>

            <div class="row">
              <tabset class="col-12">
                <tab>
                  <ng-template tabHeading>
                    <i class="fas fa-image"></i><span i18n> Picture</span>

                  </ng-template>
                  <div>
                    <div class="img-thumbnail" id="picture" name="picture" *ngIf="_node && _node.image && _node.image.pictureId !== 0">
                      <img class="img-thumbnail" id="nodeThumbnail" name="nodeThumbnail"
                           src="api/Image/Thumbnail?pictureId={{_node.image.pictureId}}&width=300&height=300" />

                    </div>
                    <div class="img-thumbnail" id="picture" name="picture" *ngIf="!_node || !_node.image || _node.image.pictureId === 0">
                      <button class="btn btn-primary" type="button" (click)="uploadImage()">
                        <span i18n>No picture associated with this node, click to add one</span>
                      </button>

                    </div>
                  </div>
                </tab>
                <tab>
                  <ng-template tabHeading>
                    <i class="fas fa-map-marker-alt"></i><span i18n> Location</span>
                  </ng-template>
                  <div *ngIf="_node && _node.latitude" class="col-12">
                    <div class="img-thumbnail" id="map" name="map"></div>
                  </div>
                  <div *ngIf="!_node || !_node.latitude">
                    <span class="text-danger">No location for this node</span>
                  </div>
                </tab>
              </tabset>

            </div>

          </p-panel>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-success pull-right" type="submit" i18n-aria-label aria-label="Close" [disabled]="!form.valid">
        <i class="fas fa-save"></i><span i18n> Save changes</span>
      </button>
      <button class="btn btn-danger pull-right" type="button" i18n-aria-label aria-label="Close"
              (click)="bsModalRef.hide()">
        <span i18n>Cancel</span>
      </button>
    </div>
  </form>
</div>
