<div #uploadImagesTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left" i18n>Picture upload</h4>
    <button type="button" class="close pull-right" i18n-aria-label aria-label="Close" (click)="bsModalRef.hide()">
      <i aria-hidden="true" class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <br/>
    <form>
      <input class="btn btn-primary" type="file"
             #fileInput i18n-placeholder placeholder="Upload file..." (change)="uploadFiles(fileInput.files)"/>
    </form>
  </div>
</div>
