<div class="row">
  <h2 i18n>Existing games</h2>
</div>
<div class="row">
  <accordion class="col-12">
    <accordion-group i18n-heading heading="Old games">
      <table>
        <tr *ngFor="let game of games | dateFilter:'startDate':today:true">
          <td>
            <div style="float: left; margin-right: 20px;">
              <img *ngIf="game.picture" class="img-thumbnail" src="api/Image/Thumbnail?pictureId={{game.picture.id}}&width=100" />
              <img *ngIf="!game.picture" class="img-thumbnail" src="assets/ImageHunt.png" width="100px" />
            </div>
          </td>
          <td>
            <a [routerLink]="['/game', game.id]">{{game.name}}</a>
          </td>
          <td>
            <button class="btn btn-primary" (click)="cloneGame(game)"><i class="fas fa-clone"></i></button>
          </td>
        </tr>
      </table>
    </accordion-group>
    <accordion-group i18n-heading heading="Active games" [isOpen]="true">
      <table class="table">
        <thead>
          <tr>
            <th i18n style="width: 50%;">Name</th>
            <th i18n style="width: 25%; vertical-align: top;">Teams</th>
            <th i18n>Code</th>
            <th i18n>Actions</th>
            <th></th>
          </tr>
          <tr>
            <th i18n>Game date</th>
            <th></th>
            <th></th>

            <th style="vertical-align: top;"><button class="btn btn-primary" (click)="showModal()"><span class="fa fa-plus-square"></span></button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of games | dateFilter:'startDate':today:false">
            <td>
              <div style="float: left; margin-right: 20px;">
                <img *ngIf="game.picture" class="img-thumbnail" src="api/Image/Thumbnail?pictureId={{game.picture.id}}&width=100" />
                <img *ngIf="!game.picture" class="img-thumbnail" src="assets/ImageHunt.png" width="100px" />
              </div>
              <div>
                <a id="gameName" [routerLink]="['/game', game.id]">{{game.name}}</a>
                <br />
                <span id="gameDate">{{game.startDate | date:'medium':'CEST':'fr'}}</span>
                <br />
                <span>{{game.description}}</span>
              </div>
            </td>
            <td>
              <p class="w-100" *ngFor="let team of game.teams">
                <i class="fa fa-users"></i>
                <a [routerLink]="['/team',game.id, team.id]">{{team.name}}</a>
              </p>
            </td>
            <td>{{game.code}}</td>
            <td>
              <div class="btn-group-vertical">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" [routerLink]="['/action/', game.id]" i18n-tooltip tooltip="Actions">
                    <i class="fa fa-map-signs"></i>
                  </button>
                  <button class="btn btn-primary" [routerLink]="['/follow', game.id]" i18n-tooltip tooltip="Suivi">
                    <i class="fa fa-map"></i>
                  </button>

                </div>
                <div class="btn-group">
                  <button class="btn btn-primary" [routerLink]="['/score', game.id]" i18n-tooltip tooltip="Score">
                    <i class="fa fa-star"></i>
                  </button>
                  <button class="btn btn-primary" (click)="cloneGame(game)" i18n-tooltip tooltip="Dupliquate">
                    <i class="fas fa-clone"></i>
                  </button>
                  <button class="btn btn-primary" i18n-tooltip tooltip="Activate/Desactivate" (click)="toggleGame(game)">
                    <div>
                      <span class="fa fa-eye" *ngIf="game.isActive"></span>
                      <span class="fa fa-eye-slash" *ngIf="!game.isActive"></span>
                    </div>

                  </button>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteGame(game.id)" tooltip="Effacer">
                <i class="fa fa-trash"></i>
              </button>
            </td>
            <!--<td><map-thumbnail [CenterLat]="game.mapCenterLat" [CenterLng]="game.mapCenterLng"></map-thumbnail></td>-->
          </tr>
        </tbody>
      </table>

    </accordion-group>
    
  </accordion>

  <p-confirmDialog id="deleteGameConfirm"
                   header="Confirmation"
                   appendTo="body"
                   icon="fa fa-question-circle" width="425"></p-confirmDialog>

</div>
