<div class="row">
  <h2>Jeux existants</h2>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th style="width: 200px;">Teams</th>
        <th><button class="btn btn-primary" (click)="showModal()"><span class="fa fa-plus-square"></span></button></th>
        <th></th>
      </tr>
      <tr>
        <th>Date de la chasse</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>
          <div class="row">
            <label class="col-6" for="gameName">Nom de la partie</label>
            <a class="col-6" id="gameName" [routerLink]="['/game', game.id]">{{game.name}}</a>
          </div>
          <div class="row">
            <label class="col-6" for="gameDate">Heure de départ</label>
            <span class="col-6" id="gameDate">{{game.startDate | date:'medium':'':'fr'}}</span>
          </div>
          <!--<div class="row">
            <span class="fa fa-eye fa-lg" tooltip="Partie active" *ngIf="game.isActive"></span>
            <span class="fa fa-eye-slash fa-lg" tooltip="Partie inactive" *ngIf="!game.isActive"></span>
          </div>-->
        </td>
        <td>
          <ul class="fa-ul">
            <li class="fa-li w-100" *ngFor="let team of game.teams"><i class="fa fa-users"></i>
              <a [routerLink]="['/team', team.id]">{{team.name}}</a></li>
          </ul>
        </td>
        <td>
          <div class="btn-group-vertical">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" [routerLink]="['/action/', game.id]" tooltip="Actions">
                <i class="fa fa-map-signs"></i>
              </button>
            </div>
            <div class="btn-group">
              <button class="btn btn-primary" [routerLink]="['/follow', game.id]" tooltip="Suivi">
                <i class="fa fa-map"></i>
              </button>
            </div>
            <div class="btn-group">
              <button class="btn btn-primary" [routerLink]="['/score', game.id]" tooltip="Score">
                <i class="fa fa-star"></i>
              </button>
            </div>
          </div>
        </td>
        <td>              <button class="btn btn-danger" (click)="deleteGame(game.id)" tooltip="Effacer">
            <i class="fa fa-trash"></i>
          </button>
        </td>
        <!--<td><map-thumbnail [CenterLat]="game.mapCenterLat" [CenterLng]="game.mapCenterLng"></map-thumbnail></td>-->
      </tr>
    </tbody>
  </table>
  <p-confirmDialog id="deleteGameConfirm"
                   header="Confirmation"
                   appendTo="body"
                   icon="fa fa-question-circle" width="425"></p-confirmDialog>

</div>
