<div #createTeamTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left" i18n>Create a Game</h4>
    <button type="button" class="close pull-right" i18n-aria-label aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="container">
    <form #form="ngForm" (submit)="createGame()">
      <div class="modal-body">
        <div class="form-group row">
          <label for="gameName" i18n>Name of the Game</label>
          <input class="form-control" [(ngModel)]="name" id="gameName" name="gameName" i18n-placeholder placeholder="Name of the game" />
        </div>
        <div class="form-group row">
          <label for="gameDescription" i18n>Description of the game</label>
          <textarea  class="form-control" [(ngModel)]="description" id="gameDescription" name="gameDescription"
                 i18n-placeholder placeholder="Description of the game"
                 rows="2"></textarea>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <div *ngIf="pictureId">
                <img class="img-thumbnail" src="api/Image/Thumbnail?pictureId={{pictureId}}&width=200" />
              </div>
              <div *ngIf="!pictureId">
                <img class="img-thumbnail" src="assets/ImageHunt.png" width="80%" height="80%" />
              </div>
            </div>
            <div class="form-group row">
              <a class="btn btn-primary" (click)="uploadPicture()"><i class="fas fa-upload"></i><span i18n> Add a picture</span></a>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="startDate" i18n>Start date of the Game</label>
              <input class="form-control" type="date" [(ngModel)]="startDate" id="startDate" name="startDate" />
            </div>
            <div class="form-group row">
              <label for="startTime" i18n>Start Time of the game</label>
              <input class="form-control" id="startTime" name="startTime" [(ngModel)]="startTime" type="time" />
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success pull-right" type="submit" i18n-aria-label aria-label="Create game"
                (click)="bsModalRef.hide()">
          <span i18n>Créer la partie</span>
        </button>
      </div>
    </form>
  </div>
</div>

