<div #createTeamTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Création d'une partie</h4>
    <button type="button" class="close pull-right" aria-label="Fermer" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>
  <div class="container">
    <form #form="ngForm" (submit)="createGame()">
      <div class="modal-body">
        <div class="form-group row">
          <label for="gameName">Nom de la partie</label>
          <input class="form-control" [(ngModel)]="name" id="gameName" name="gameName" placeholder="Nom de la partie" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <div *ngIf="false">
                <img class="img-thumbnail" src="https://via.placeholder.com/100x100"/>
              </div>
              <div *ngIf="true">
                <img class="img-thumbnail" src="assets/ImageHunt.png" width="80%" height="80%"/>
              </div>
            </div>
            <div class="form-group row">
              <button class="btn btn-primary" (click)="uploadPicture()"><i class="fas fa-upload"></i> Ajouter une image</button>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label for="startDate">Date de démarrage de la partie</label>
              <input class="form-control" type="date" [(ngModel)]="startDate" id="startDate" name="startDate"/>
            </div>
            <div class="form-group row">
              <label for="startTime">Heure de départ</label>
              <input class="form-control" id="startTime" name="startTime" [(ngModel)]="startTime" type="time"/>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success pull-right" type="submit" aria-label="Close"
                (click)="bsModalRef.hide()">
          Créer la partie
        </button>
      </div>
    </form>
  </div>
</div>
