<div #createNodeTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Création d'un Noeud</h4>
    <button type="button" class="close pull-right" aria-label="Fermer" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>

  <form #form="ngForm" (submit)="createNode(form)">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-6">
          <label for="name">Nom du n&oelig;ud : </label>
          <input type="text" class="form-control" id="name" ngModel name="name"
                 placeholder="Entrez le nom du noeud" />
        </div>
        <div class="form-group col-6">
          <label for="nodeType">Type de N&oelig;ud : </label>
          <!--<div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
              Type de N&oelig;ud <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" [nodeType]="FirstNode"><i class="fas fa-flag"></i> N&oelig;ud départ</a></li>
              <li role="menuitem"><a class="dropdown-item" [nodeType]="TimerNode"><i class="far fa-clock"></i> N&oelig;ud attente</a></li>
              <li role="menuitem"><a class="dropdown-item" [nodeType]="ObjectNode"><i class="fas fa-running"></i> N&oelig;ud action</a></li>
              <li role="menuitem"><a class="dropdown-item" [nodeType]="HiddenNode"><i class="fas fa-mask"></i> N&oelig;ud caché</a></li>
              <li role="menuitem"><a class="dropdown-item" [nodeType]="ChoiceNode"><i class="fas fa-question"></i> N&oelig;ud choix</a></li>
              <li role="menuitem"><a class="dropdown-item" [nodeType]="PictureNode"><i class="fas fa-camera"></i> N&oelig;ud photo</a></li>
              <li role="menuitem"><a class="dropdown-item" [nodeType]="LastNode"><i class="fas fa-flag-checkered"></i> N&oelig;ud arrivée</a></li>
            </ul>
          </div>-->
        <select class="form-control fa" ngModel name="nodeType" id="nodeType" placeholder="Type de N&oelig;ud">
          <option value="FirstNode">&#xf024; N&oelig;ud départ</option>
          <option value="WaypointNode">&#xf3c5; N&oelig;ud passage</option>
          <option value="TimerNode">&#xf017; N&oelig;ud attente</option>
          <option value="ObjectNode">&#xf70C; N&oelig;ud action</option>
          <option value="HiddenNode">&#xf6FA; N&oelig;ud caché</option>
          <option value="ChoiceNode">&#xf0cb; N&oelig;ud choix</option>
          <option value="QuestionNode">&#xf128; N&oelig;ud question</option>
          <option value="PictureNode">&#xf030; N&oelig;ud photo</option>
          <option value="BonusNode">&#xf06b; N&oelig;ud bonus</option>
          <option value="LastNode">&#xf11e; N&oelig;ud arrivée</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-12">
          <table class="table">
            <tr>
              <th rowspan="2"><label>Position</label></th>
              <th><label>Latitude</label></th>
              <td>{{latitude}}</td>
            </tr>
            <tr>
              <th><label>Longitude</label></th>
              <td>{{longitude}}</td>
            </tr>
          </table>

        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-12">
          <label for="nbPoints">Nombre de points</label>
          <input type="number" class="form-control" ngModel
                 id="nbPoints" name="nbPoints" placeholder="Nombre de points gagnés sur ce noeud" />
        </div>
      </div>
      <div>
        <tabset>
          <tab [disabled]="form.value.nodeType !== 'FirstNode'" [active]="form.value.nodeType === 'FirstNode'">
            <ng-template tabHeading>
              <i class="fas fa-flag" style="color:red"></i><span> Départ</span>
            </ng-template>
            <div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="text" class="form-control" id="password" name="password"
                       ngModel placeholder="Mot de passe à demander"/>
              </div>
            </div>
          </tab>
          <tab [disabled]="form.value.nodeType !== 'TimerNode'" [active]="form.value.nodeType === 'TimerNode'">
            <ng-template tabHeading>
              <i class="far fa-clock" style="color: cadetblue"></i> Timer
            </ng-template>
            <div>
              <div class="form-group">
                <label for="duration">Durée d'attente (en secondes)</label>
                <input type="number" class="form-control" id="duration" name="duration" ngModel placeholder="Durée en secondes"/>
              </div>
            </div>
          </tab>
          <tab [disabled]="form.value.nodeType !== 'BonusNode'" [active]="form.value.nodeType === 'BonusNode'">
            <ng-template tabHeading>
              <i class="fas fa-gift" style="color: darkmagenta"></i> Bonus
            </ng-template>
            <div>
              <div class="form-group">
                <label for="location">Indication pour trouver le Noeud</label>
                <input class="form-control" type="text" id="location" name="location" ngModel placeholder="Indication pour trouver le noeud"/>
                <label for="bonustype">Type de bonus</label>
                <select class="form-control" id="bonustype" name="bonustype" ngModel>
                  <option value="0">Points x 2</option>
                  <option value="1">Points x 3</option>
                </select>
              </div>
            </div>
          </tab>
          <tab [disabled]="form.value.nodeType !== 'ObjectNode'" [active]="form.value.nodeType === 'ObjectNode'">
            <ng-template tabHeading>
              <i class="fas fa-running" style="color: darkred;"></i> Action
            </ng-template>

            <div>
              <div class="form-group">
                <label for="action">Action à faire sur le noeud</label>
                <textarea class="form-control" cols="40" rows="3" id="action" ngModel name="action"
                          placeholder="Action à effectuer par les joueurs"></textarea>
              </div>
            </div>
          </tab>
          <tab [disabled]="form.value.nodeType !== 'HiddenNode'" [active]="form.value.nodeType === 'HiddenNode'">
            <ng-template tabHeading>
              <i class="fas fa-mask" style="color:purple"></i> Caché
            </ng-template>

            <div>
              <div class="form-group">
                <label for="hint">Indice pour trouver le noeud</label>
                <textarea class="form-control" cols="40" rows="3" id="hint" ngModel name="hint"
                          placeholder="Indice pour trouver le noeud"></textarea>
              </div>

            </div>
          </tab>
          <tab [disabled]="form.value.nodeType !== 'PictureNode'" [active]="form.value.nodeType === 'PictureNode'">
            <ng-template tabHeading>
              <i class="fas fa-camera" style="color:blue"></i> Image
            </ng-template>

            <div>
              <div class="form-group">
                <label for="pictureName">Nom de la photo</label>
                <input class="form-control" id="pictureName" type="text" ngModel name="pictureName"
                       placeholder="Nom de l'image"/>
              </div>

            </div>
          </tab>
          <tab [disabled]="form.value.nodeType !== 'QuestionNode'" [active]="form.value.nodeType === 'QuestionNode'">
            <ng-template tabHeading>
              <i class="far fa-question-circle" style="color:blue"></i> Question
            </ng-template>

            <div >
              <div class="form-group">
                <label for="question">Question</label>
                <textarea class="form-control" cols="40" rows="3" id="question" ngModel name="question" placeholder="Question à poser aux joueurs"></textarea>
              </div>
              <div class="form-group">
                <label for="answer">Réponse</label>
                <textarea class="form-control" cols="40" rows="1" id="answer" ngModel name="answer" placeholder="Réponse attendue"></textarea>
              </div>
            </div>
            <br/>
          </tab>
          <tab [disabled]="form.value.nodeType !== 'ChoiceNode'" [active]="form.value.nodeType === 'ChoiceNode'">
            <ng-template tabHeading>
              <i class="fas fa-list-ol" style="color: green"></i> Choix
            </ng-template>

            <div>
              <div class="form-group">
                <label for="choiceQuestion">Question</label>
                <textarea class="form-control" cols="40" rows="3" id="choiceQuestion" ngModel name="choiceQuestion" placeholder="Choix à poser aux joueurs"></textarea>
              </div>

            </div>
            <br/>
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Choix</th>
                <th>Réponse correcte</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let choice of choices; let i = index">
                <td>{{i + 1}}</td>
                <td><span class="form-control">{{choice}}</span></td>
                <td><p-radioButton name="groupAnswers" value="{{i}}" [(ngModel)]="correctAnswer"></p-radioButton></td>
              </tr>
              </tbody>
            </table>
            <br/>
            <form #newChoice="ngForm">
              <div>
                <div class="form-group">
                  <label for="choice">Choix</label>
                  <input type="text" ngModel name="choice" id="choice" class="form-control"/>
                  <button type="button" class="btn btn-primary pull-right" (click)="addChoice(newChoice)">
                    <span class="fa fa-plus-square"> Ajouter un choix</span>
                  </button>
                </div>
              </div>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success pull-right" type="submit" aria-label="Close"
              (click)="bsModalRef.hide()">
        Créer le Noeud
      </button>
    </div>
  </form>
</div>
