<div #createNodeTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Création d'un Noeud</h4>
    <button type="button" class="close pull-right" aria-label="Fermer" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
  </div>

  <form #form="ngForm" (submit)="createNode(form)">
    <div class="modal-body">
      <span></span>
      <div class="form-inline">
        <div class="input-group">
          <label for="name">Nom du n&oelig;ud</label>
          <input type="text" class="form-control" id="name" ngModel name="name"
                 placeholder="Entrez le nom du noeud" />
        </div>
        <div class="input-group">
          <label for="nodeType">Type de N&oelig;ud</label>
          <select class="form-control fa" ngModel name="nodeType" id="nodeType">
            <option value="FirstNode">&#xf11d; N&oelig;ud départ</option>
            <option value="TimerNode">&#xf017; N&oelig;ud attente</option>
            <option value="ObjectNode">&#xf1b2; N&oelig;ud action</option>
            <option value="QuestionNode">&#xf29c; N&oelig;ud choix</option>
            <option value="PictureNode">&#xf030; N&oelig;ud photo</option>
            <option value="LastNode">&#xf11e; N&oelig;ud arrivée</option>
          </select>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group col-lg-12">
          <table class="table">
            <tr>
              <th rowspan="2"><label>Position</label></th>
              <th><label>Latitude</label></th>
              <td>{{latitude}}</td>
            </tr>
            <tr>
              <th><label>Longitude</label></th>
              <td>{{longitude}}</td>
            </tr>
          </table>
            
        </div>
        <div class="form-group col-lg-12">
          <label for="nbPoints">Nombre de points</label>
          <input type="number" class="form-control" ngModel
                 id="nbPoints" name="nbPoints" placeholder="Nombre de points gagnés sur ce noeud" />
        </div>
      </div>
      <div>
        <tabset>
          <tab heading="Départ" [disabled]="form.value.nodeType !== 'FirstNode'" [active]="form.value.nodeType === 'FirstNode'">
            <div class="form-inline">
              <div class="form-group">
                <label class="col-lg-6" for="password">Mot de passe</label>
                <input type="text" class="form-control col-lg-6" id="password" name="password"
                       ngModel placeholder="Mot de passe à demander"/>
              </div>
            </div>
          </tab>
          <tab heading="Timer" [disabled]="form.value.nodeType !== 'TimerNode'" [active]="form.value.nodeType === 'TimerNode'">
            <div class="form-inline">
              <div class="input-group">
                <label for="duration">Durée d'attente (en secondes)</label>
                <input type="number" class="form-control" id="duration" name="duration" ngModel placeholder="Durée en secondes"/>
              </div>
            </div>
          </tab>
          <tab heading="Action" [disabled]="form.value.nodeType !== 'ObjectNode'" [active]="form.value.nodeType === 'ObjectNode'">
            <div class="form-inline">
              <div class="input-group">
                <label for="action">Action à faire sur le noeud</label>
                <textarea class="form-control" cols="40" rows="3" id="action" ngModel name="action" placeholder="Action à effectuer par les joueurs"></textarea>
              </div>
            </div>
          </tab>
          <tab heading="Question" [disabled]="form.value.nodeType !== 'QuestionNode'" [active]="form.value.nodeType === 'QuestionNode'">
            <div class="form-inline">
              <div class="input-group">
                <label for="question">Question</label>
                <textarea class="form-control" cols="40" rows="3" id="question" ngModel name="question" placeholder="Question à poser aux joueurs"></textarea>
              </div>

            </div>
            <br/>
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Réponse</th>
                <th>Réponse correcte</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let answer of answers; let i = index">
                <td>{{i + 1}}</td>
                <td><span class="form-control">{{answer}}</span></td>
                <td><p-radioButton name="groupAnswers" value="{{i}}" [(ngModel)]="correctAnswer"></p-radioButton></td>
              </tr>
              </tbody>
            </table>
            <br/>
            <form #newAnswer="ngForm">
              <div class="form-inline">
                <div class="input-group">
                  <label for="answer">Réponse</label>
                  <input type="text" ngModel name="answer" id="answer" class="form-control"/>
                  <button type="button" class="btn btn-primary pull-right" (click)="addAnswer(newAnswer)">
                    <span class="fa fa-plus-square"> Ajouter une réponse</span>
                  </button>
                </div>
              </div>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success pull-right" type="submit" aria-label="Close"
              (click)="bsModalRef.hide()">
        Créer le Noeud
      </button>
    </div>
  </form>
</div>
