<h2>Administrateurs actuels</h2>

<table class="table">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Email</th>
    <th></th>
    <th>Jeux associés</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let admin of admins">
    <td>{{admin.name}}</td>
    <td class="email">{{admin.email}}</td>
    <td><button class="btn btn-danger" (click)="deleteAdmin(admin.id)"><span class="fa fa-user-times"></span> Effacer</button></td>
    <td>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let game of admin.games"><span class=" fa fa-gamepad"></span> <a [routerLink]="['/game', game.id]">{{game.name}}</a></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<h2>Créer un administrateur</h2>

<form #form="ngForm" (submit)="createAdmin(form)">
  <div class="form-inline">
    <div class="input-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" ngModel name="name" required placeholder="Nom de l'admin" id="name"/>
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" ngModel name="email" required placeholder="Email de l'admin" id="email"/>
    </div>
  </div>
  <button type="submit" class="btn btn-primary"><span class="fa fa-user-plus"></span> Créer</button>
</form>

